/* Card styles */
.card {
    margin-bottom: 20px; /* Space below the card */
    border: none; /* No border */
    overflow: hidden; /* Overflow handling */
    position: relative; /* Positioning */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Box shadow for a subtle lift */
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out; /* Transition effects */
    backdrop-filter: blur(10px); /* Apply blur effect to the background */
    background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity of background */
    border-radius: 1.5em; /* Border radius for rounded corners */
}

.card:hover {
    transform: translateY(-10px); /* Hover effect to lift the card */
    box-shadow: 0 12px 24px rgba(230, 0, 0, 0.2); /* Box shadow on hover */
}

/* Title and text styles */
.card-title {
    font-size: 24px; /* Font size for the card title */
    margin-bottom: 10px; /* Space below the title */
}

.card-text {
    font-size: 18px; /* Font size for the card text */
}

.card-body {
    padding: 20px; /* Padding within the card body */
}

/* Modal style improvements */
.modal-content {
    border-radius: 0; /* Modal content border radius */
}

.modal-header {
    background-color: #f5f5f5; /* Modal header background color */
    border-bottom: none; /* No border at the bottom of header */
    padding: 20px; /* Padding for header content */
    text-align: center; /* Center align header text */
}

.modal-title {
    margin: 0; /* Margin for modal title */
}

.modal-body {
    padding: 5em; /* Padding within the modal body */
}

/* Button style */
.btn {
    border-radius: 1.1rem; /* Button border radius */
    font-size: 18px; /* Font size for the button */
    transition: background-color 0.3s ease-out, color 0.3s ease-out; /* Transition effects */
}

.btn:hover {
    background-color: #2ecc71; /* Background color on hover */
    color: #fff; /* Text color on hover */
    border-radius: 1rem; /* Border radius on hover */
}

/* Media Query for smaller screens */
@media(max-width: 765px) {
    .card {
        background-color: green; /* Change card background color for smaller screens */
    }
}

/* Image styles */
img {
    width: 20%; /* Width of images */
    height: 20%; /* Height of images */
}

/* Glyphicon styles */
.glyphicon {
    width: 20%; /* Width of glyphicons */
    height: 20%; /* Height of glyphicons */
}



/* Body styles */
body {
    background-image: linear-gradient(to bottom, #f7f7f7, #dde6f4, #9999e6); /* Background gradient */
    background-repeat: no-repeat; /* No background repeat */
    background-attachment: fixed; /* Fixed background */
    font-family: Arial, sans-serif; /* Font family for the body */
    margin: 0; /* Margin reset */
    padding: 0; /* Padding reset */
}
